<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form action="/users/register" method="POST" enctype="application/x-www-form-urlencoded">

        用户名
        <input type="text" name="username"> <br />密码
        <input type="text" name="password"> <br />男
        <input type="radio" name="gender" value="men"> <br />女
        <input type="radio" name="gender" value="women"> <br />电话号码
        <input type="text" name="phone"> <br />姓名
        <input type="text" name="name"> <br />邮箱
        <input type="text" name="email"> <br />年龄
        <input type="text" name="age"> <br />权限
        <input type="text" name="access"> <br />职位
        <input type="text" name="job"> <br />等级
        <input type="text" name="level"> <br />头像
        <input type="text" name="avatar"><br />

        <input type="submit" value="提交">

    </form>
</body>

</html>